:root {
    --main:#0099ff;
    --dark-main:#0077cc;
}

.accordion {
    border: 2px solid color-mix(in srgb, var(--dark-main) var(--transparency, 70%), transparent);
    border-radius: 0.5rem;
    overflow: hidden;
}

.tab__label,
.tab__close {
    display: flex;
    color: var(--light-highest);
    background: color-mix(in srgb, var(--dark-main) var(--transparency, 70%), transparent);
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    user-select:none;
    padding:10px 10px;
    display:flex;
    align-items: center;
}

.tab__label:hover{
    background: color-mix(in srgb, var(--dark-main) var(--transparency, 80%), transparent);
}

.tab__label:active{
    background: color-mix(in srgb, var(--dark-main) var(--transparency, 90%), transparent);
}

.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab__content {
    max-height: 0;
    display: none;
    transition-duration:0.2s;
    padding:0 20px;
}
.tab input:checked ~ .tab__content {
    max-height: 500px;
    display: block;
    overflow-y:scroll;
}

.tab__label .material-icons-round{
    transition-duration: 0.1s;
}



.tab__label .material-icons{
    transition-duration: 0.1s;
}
  
